//
// Кастомные шрифты
//
//

@font-face {
	font-family: 'Proxima Nova Cn Rg';
	src: url('../fonts/ProximaNovaCond-Regular.eot');
	src: local('Proxima Nova Condensed Regular'), local('ProximaNovaCond-Regular'),
		url('../fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNovaCond-Regular.woff') format('woff'),
		url('../fonts/ProximaNovaCond-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}