.saved-search {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    min-width: 100px;
    min-height: 75px;
    box-sizing: border-box;

    &__opened {
        background-color: #e3ebf2;
        padding: 15px 90px 15px 110px;
    }

    &__collapsed {
        background-color: transparent;
        padding: 0;
    }


    &__plane {
        position: absolute;
        top: -10px;
        left: -10px;
        width: 100px;
        height: 75px;
        background: url(../img/plane.min.png) 0 50% no-repeat;
    }

    &__form-row {
        margin-bottom: 20px;
    }

    input {
        width: 63%;
        margin-right: 5px;
    }

    &__closer {
        position: absolute;
        cursor: pointer;
        font-size: 32px;
        color: #999;
        right: 5px;
        top: 5px;
        padding: 10px;
    }

    &__teaser {
        display: block;
        cursor: pointer;
        position: absolute;
        top: -10px;
        left: -10px;
        width: 100px;
        height: 75px;
        background: url(../img/plane.min.png) 0 50% no-repeat;
    }
}